.title {
    font-family: 'Minecrafter', sans-serif;
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--primary-color);
    font-size: 70px;
    text-align: center;
    margin: 3vh 0 5vh 0;
}

@media screen and (max-width: 1068px) {
    .title {
        font-size: 55px;
    }
}

@media screen and (max-width: 878px) {
    .title {
        font-size: 50px;
    }
}

@media screen and (max-width: 623px) {
    .title {
        font-size: 45px;
    }
}

@media screen and (max-width: 399px) {
    .title {
        font-size: 40px;
    }
}
