:root{
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* === Color Variables === */
  --white-color: #fff;
  --black-color: #000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar{
  width: 5px;
}

body::-webkit-scrollbar-track{
  background: #E3E3E3;
}

body::-webkit-scrollbar-thumb{
  background: url(../../client/src/assets/images/Home/portal.jpg);
  width: 10px;
}