.card{
    padding: 15px;
    background-color: var(--bg-color);
    color: var(--white-color);
    text-align: center;
    text-shadow: 3px 3px 3px var(--shadow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 3px 3px 3px var(--shadow-color);
}

.card img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    padding-bottom: 10px;
}

.card hr{
    margin: 1vh 0;
    opacity: .4;
}

@media screen and (max-width: 576px) {
    .card{
        padding: 15px 5px;
    }
}