.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#first_section {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
    margin-top: -25vh;
}

#first_section img {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentation_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin: 10vh 0;
}

.div_content {
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.div_content > p {
    padding: 5vh 2vw;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: var(--bg-color);
    text-align: start;
}

.command_block {
    width: 26vw;
}

.all_cards {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.title_developers {
    font-family: 'Minecrafter';
    color: var(--primary-color);
    font-size: 50px;
    text-align: center;
    margin-top: 5vh;
}

@media screen and (max-width: 1080px) {
    #first_section {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -2;
        margin-top: -5vh;
    }

    .presentation_section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        margin: 2vh 0;
    }

    .command_block {
        width: 60vw;
    }

    .div_content {
        width: 90vw;
        margin-top: 5vh;
    }

    .div_content p {
        padding: 2vh 3vw;
        font-size: 12px;
    }

    .title_developers {
        font-size: 32px;
    }
}
