.title{
    font-family: 'Minecrafter', sans-serif;
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--primary-color);
    font-size: 70px;
    text-align: center;
    margin: 3vh 0 5vh 0;
}

.content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin-bottom: 20px;
    border-radius: 40px;
    height: 350px;
    background-color: var(--primary-color);
    box-shadow: 5px 5px 5px var(--shadow-light-color);
}

.div_content > p{
    padding: 60px 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: var(--white-color);
    text-shadow: 3px 3px 3px var(--shadow-light-color);
}

.all_cards{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@media screen and (max-width: 1226px) {

    .div_content > p{
        font-size: 23px;
    }
}

@media screen and (max-width: 1068px) {
    .title{
        font-size: 55px;
    }

    .div_content{
        width: 78%;
        height: 400px;
    }
}

@media screen and (max-width: 878px) {
    .title{
        font-size: 55px;
    }

    .all_cards{
        flex-direction: column;
    }

    .div_content{
        width: 300px;
        height: 350px;
    }

    .div_content > p{
        padding: 30px 20px;
        font-size: 18px;
    }
}