.title{
    font-family: 'Minecrafter', sans-serif;
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--primary-color);
    font-size: 70px;
    text-align: center;
    margin: 3vh 0 5vh 0;
}

.content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin-bottom: 20px;
    border-radius: 40px;
    height: 350px;
    background-color: var(--primary-color);
    box-shadow: 5px 5px 5px #0f0f0f98;
}

.div_content > p{
    padding-top: 60px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: #F0F0F0;
    text-shadow: 3px 3px 3px #0f0f0f98;
}

.all_cards{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@media screen and (max-width: 576px) {
    .all_cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}