.content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 95%;
    border-radius: 60px;
    box-shadow: 5px 5px 5px #0f0f0f;
    height: 350px;
    background: url(../../assets/images/Home/wood.jpg);
}

.div_content > p{
    padding-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: var(--white-color);
    -webkit-text-stroke: 1px #0f0f0f;
}

.all_cards{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@media screen and (max-width: 576px) {
    .all_cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}