.card_content{
    width: 400px;
    height: 400px;
    background-color: var(--bg-color);
    background-position: center;
    background-size: cover;
    color: var(--white-color);
    font-weight: bolder;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 40px;
    margin-right: 30px;
}

.card_icons{
    width: 30px;
    margin-right: 20px;
    margin-top: 20px;
}

.card_icons:hover{
    padding: 3px;
    border-radius: 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    transition: ease-in-out 0.5s;
}

.names{
    margin-top: 20px;
    font-size: 25px;
}

.photos{
    border-radius: 100px;
    width: 200px;
}

@media screen and (max-width: 878px) {
    .card_content{
        margin-top: 30px;
        width: 300px;
        margin-right: 0;
    }

    .names{
        font-size: 20px;
    }

    .card_icons{
        width: 25px;
    }
}