header {
    width: 100%;
    padding: 0 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background-color: var(--bg-color);
    color: var(--white-color);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

header .logo h2 {
    font-family: 'Minecrafter', sans-serif;
    color: var(--primary-color);
}

nav a {
    margin: 0 1rem;
    color: var(--white-color);
    text-decoration: none;
    transition: ease all 0.5s;
}

nav a:hover {
    border-bottom: 1px solid var(--primary-color);
}

header .nav_btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    display: none;
    font-size: 1.3rem;
}

header div,
nav {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    header {
        justify-content: space-between;
    }

    header .nav_btn {
        display: block;
    }

    header nav {
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--bg-color);
        transition: 1s;
        z-index: 1000;
    }

    header .responsive_nav {
        transform: translateY(100vh);
    }

    nav .nav_close_btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1.2rem;
    }

    header .logo img {
        width: 40px;
    }
}
