.header{
    width: 100%;
    height: 90px;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: var(--bg-color);
    color: var(--white-color);
    box-shadow: 0px 4px 4px #0f0f0f98;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;
}

.header a{
    font-size: 25px;
    font-weight: bolder;
    padding: 0 2vw;
    color: var(--white-color);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-family: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: 'Minecrafter', sans-serif; */
}

.header a:hover{
    color: var(--primary-color);
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.header_icons{
    width: 45px;
    margin-right: 10px;
}

@media screen and (max-width: 576px){
    .header a{
        font-size: 13px;
        margin-right: 17px;
    }

    .header_icons{
        width: 20px;
        margin-right: 3px;
    }
}